body{
    background-color: #0000;

}



.icon::before {
    content: url("画像のURL");
    display:inline-block;
    margin-right: 5px;
    vertical-align: middle;
}


.icon::before{
    content:'';
    display: inline-block;
    width: 18px;
    height: 15px;
    margin-right: 5px;
    background: url("画像のURL");
    background-size:contain;
    vertical-align: middle;
}


ul{
   
    width: 500px;
    margin:50px auto;
    padding: 0;
    background-color: #ffff;
    border: 1px solid #FFcc00;
    display: flex;
   
     
}

li{
    box-sizing: border-box;
    border: 1px solid #CC0000;
    background-color: darkblue;
    color: #ffff;
    text-align: center;
    list-style: none;
    padding: 20px 0; 
    flex-grow: 1; 
}

.one{
    flex-shrink: 3;
}