@charset "utf-8";

table{
    width:650px;
    border: solid 1px #000;
    border-collapse: collapse;
    background-color: #f2f2f2;
    
}
th,td{
    border: solid 1px #000;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
   
}

th{
    background-color: gray;
}